@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

/* .inter-<uniquifier> {

  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  font-family: "Inter", sans-serif;
  /* outline: 1px solid red; */
}

/*! common color section starts */

/* bg color */

.primary_bg_color {
  @apply bg-[#01A49E];
}

.secondary_bg_color {
  @apply bg-[#F0E7D9];
}

.accent_bg_color {
  @apply bg-white;
}

/* text color */

.primary_text_color {
  @apply text-[#01A49E];
}

.secondary_text_color {
  @apply text-[#000000];
}

.accent_text_color {
  @apply text-[#333333];
}

/* paragrap color */
.primay_paragrap_text_color {
  @apply text-[#666666];
}

.secondary_paragrap_text_color {
  @apply text-[#CCCCCC];
}

/* card  */
.bg_red {
  @apply bg-[#EB4227];
}
.text_red {
  @apply text-[#EB4227];
}

/* button */
.primary_btn {
  @apply btn px-5 py-[10px] rounded-[8px] bg-[#01A49E] uppercase text-white;
}

.secondary_btn {
  @apply btn bg-white text-base text-black rounded-[8px] px-[10px] py-[20px] capitalize;
}

/* padding */
.common_padding {
  @apply px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20;


}
/*! common color section ends */

/* ! contact form section */
.form_label {
  @apply text-[13px]  leading-[21px] font-normal;
}

.form_input {
  @apply w-full text-[13px] rounded-lg border px-3 py-2 focus:outline-none focus:ring-2 focus:ring-[#01A49E] mt-[8px] mb-2 ;

    border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 6px;

  background: rgba(255, 255, 255, 1);
}

.input_error {
  @apply text-[12px] text-red-600  font-light
}
/* ! responsive mode  */

/* @media (min-width : 500px) and (max-width : 640px) {
   
} */

@media (min-width: 530px) {
  .header_section {
    @apply flex-row gap-x-4 items-center;
  }
}

@media (min-width: 900px) {
  .heading_btn {
    @apply block;
  }
}

@media (min-width: 450px) {
  .mobail_layout {
    @apply flex flex-row-reverse gap-x-2 justify-between  lg:hidden;
  }
}

@media (min-width: 400px) and (max-width: 640px) {
  .catagory_tabs {
    @apply grid-cols-4;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .product_card {
    @apply text-center;
  }

  .recomended_section {
    @apply px-12;
  }
}

@media (min-width: 501px) and (max-width: 639px) {
  .product_cards {
    @apply grid-cols-2;
  }

  .product_card {
    @apply text-start;
  }

  .recomended_section {
    @apply px-4;
  }
}

@media (min-width: 480px) and (max-width: 520px) {
  .milestone_cards {
    @apply px-8;
  }
}

@media (min-width: 521px) and (max-width: 639px) {
  .milestone_cards {
    @apply grid-cols-2;
  }
}

@media (min-width: 540px) {
  .img_title {
    @apply flex;
  }
}

@media (min-width: 501px) and (max-width: 639px) {
  .arrival_product_cards {
    @apply grid-cols-2;
  }

  .gift_box {
    @apply flex;
  }

  .gift_box img {
    @apply w-full;
  }
}

/* essential products section  */

@media (min-width: 450px) and (max-width: 500px) {
  .products-1,
  .products-2 {
    @apply h-[220px];
  }
}

@media (min-width: 501px) and (max-width: 639px) {
  .title {
    @apply flex;
  }

  .beedroom_essential .products {
    @apply grid-cols-4;
  }

  .speacial_products {
    @apply grid-cols-2;
  }
}
